
<h2>ABOUT US</h2>
<hr>
<p>Uttam Telecom consistently provided innovative and useful poducts to customers in telecom business. We are known for reliable products,commitment and customer support. Now we are currently focused on ALL IN ONE - mobile recharge and bill payments, Land line and Post Paid Bills, DTH recharge along with New DTH booking Activations, Utility bill payments like Electricity, Water, Gas Bills and Insurance Renewals, Bus Ticket Bookings, Flight Ticket Bookings and Money Transfer facilities all under one roof provided to our distributors and retailers with speed of light service to give comfortness and tension free option.

We follow the business with transparency ,trust and offer the best in class prepaid recharge service for all leading mobile phones,DTH and data card operators.

Through our recharge system, retailers can avoid the hassles associated with maintaning top up scratch cards of different providers and different value.

All Operators and denominations of recharge can now be easily stocked through our powerful management system which also keeps track of your balance and alerts actively for the need to buy dditional balanace on a periodic basis.

We work hard to offer the best in class prepaid mobile recharge services of all leading mobile, DTH and data card operators to our retailers with value of recharge currencies that can be later dispensed on their end users. The retailers can easily recharge customers needful service using their mobile or webservice.

A2Z all in one recharge runs on any platform like windows, java, android or even through SMS from a single e-topup prepaid wallet balance.</p>

<p><b><i>SOME OF THE SPECIAL FEATURES</i></b><br>

The retailer will have to send SMS in simple format to server requesting for prepaid pins or recharge currencies and after successful transaction, a confirmation message will be sent by the server to the retailer's mobile phone.

All transaction done through single balance will complete your trasactions in matter of seconds.
</p>
