  <div class="well well-sm listHeader">Change Password</div>

<div >
<form role="form" class="col-xs-3" >

      <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" class="form-control" ng-model="pwd.oldpassword" name="oldPassword" required>
      </div>

      <div class="form-group">
        <label for="newPassword"><sup>*</sup>New Password </label>
        <input type="password" class="form-control" ng-model="pwd.newpassword" name="newPassword" required>
      </div>

      <div class="form-group">
        <label for="conformPassword"><sup>*</sup>Confirm Password :</label>
        <input type="password" class="form-control" ng-model="pwd.cnewpassword" name="conformPassword" required>
      </div>

      <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="changePassword(pwd)">Submit</button><span><button type="Cancel" class="btn btn-danger" ng-click="pwd={};">Cancel</button></span>
      </div>
    </div>
  </form>
    <p style="color:red;" ng-bind="pwdChangeMsg"></p>   
</div>
 
