<html>
<head>
</head>
<body>
    <div class="container">
    <div style="border:1px solid black;width:100vmin;padding:3vh;">
  <h2>CONTACT US</h2>
  <hr>
  <div class="media media-left">
      <img src="..\img\contact.PNG" class="media-object img-circle" style="width:30vmin;height:28vh;">
    </div>
<div class="media-body">
<form class="form-horizontal">
  <div class="form-group"> 
    <div class="col-sm-11">
      <input type="text" class="form-control" id="Enter Name" placeholder="Enter Name">
    </div>
  </div>
    <div class="form-group"> 
    <div class="col-sm-11">
      <input type="email" class="form-control" id="Enter Email" placeholder="Enter Email">
    </div>
    </div>
    <div class="form-group"> 
    <div class="col-sm-11">
      <input type="tel" class="form-control" id="Enter Mob No" placeholder="Enter Mob No">
    </div>
    </div>
    <div class="form-group"> 
    <div class="col-sm-11">
      <input type="text" class="form-control" id="Enter Address" placeholder="Enter Address">
    </div>
    </div>
    </div>
    <div class="form-group"> 
    <div class="col-sm-11">
      <textarea class="form-control" placeholder="Enter Query/Message"></textarea>
    </div>
    </div><br>
    <br>
    <hr>
        <div class="form-group">        
      <div class="col-sm-offset-4 col-sm-6">
        <button type="Send" class="btn btn-default" style="border-radius:250%;color:brown;border-color:brown">Send</button>
      </div>
    </div>
  </form>
</div>
</div>
</body>
</html>

  