
<div class="well well-sm listHeader">Credit Report</div>
<form>
  <div class="row">
         <div  class="col-xs-3">
       <div class="form-group">
      <label for="sel1" >From Date:</label><input type="date" class="form-control" name="bday"> 
      </div >
      </div>
       <div  class="col-xs-3">
  <div class="form-group">    
  <label for="sel1" >To Date:</label><input type="date" class="form-control" name="bday">
 </div >
 </div>
  <div class="form-group">        
  <div class="col-sm-offset-2 col-sm-5">      
 <button type="button" class="btn  btn-success btn-default" >Search</button>

  <button type="button" class="btn  btn-danger btn-default" >Export</button>
  </div>
  </div>
  </div>
</form>
<br>
<div>
<table class="table table-bordered">
    <thead class="tableList">
      <tr>
        <th>Payment Date</th>
        <th>Payment Id</th>
        <th>Payment To</th>
        <th>User type</th>
        <th>Transaction type</th>
        <th>Payment type</th>
        <th>Description</th>
        <th>Remark</th>
        <th>Credit Amount</th>
        <th>Debit Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    
  </table>
</div>           
            