<body >
<div class="media" style="background-color:#D3D3D3;border-radius:5px;padding:4vh">
    <div class="media-left">
      <img src="..\img\recharge.JPG" class="img-circle media-object" style="width:30vmin; height:30vmin;">
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="text-align:center;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;font-family: 'Times New Roman', Times, serif;
            font-size:4vh;">Mobile Recharge</h4>
      <hr>
      <p>Mobile phones have become an essential part of our lives, so is mobile recharge.
 With the sudden advancement in technology, mobile enables us to perform various 
 tasks that were previously not possible, One such instance is online mobile recharge 
 and with UTTAM TELECOM it's quick recharge experience. Available with new technology in SMS,
  Android and Website options and forget the old troublesome process. With UTTAM TELECOM, you can do easy recharge 
  online anytime and from anywhere, be it like shops or home or even if you are on holidays. all you need is internet 
  access and that's it. In this busy world, nobody has time to wait in stores for recharging their numbers. UTTAM TELECOM's 
  fast recharge service is an ultimate solution, it is quick and easy process.</p>
    </div>
  </div>
  <div class="media" style="background-color:#D3D3D3;border-radius:5px;padding:4vh;">
    <div class="media-left">
      <img src="..\img\postpaid.JPG" class="img-circle media-object" style="width:30vmin; height:30vmin;">
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="text-align:center;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;font-family: 'Times New Roman', Times, serif;
            font-size:4vh;">Mobile Post Paid Bill Payments</h4>
      <hr>
      <p>Nowadays, Post Paid services is very useful as a mode of communication. A lot of people use their mobile operators as monthly paying billing option. With such an important technology in our life, it is important to pay Post Paid bills on time to enjoy its uninterrupted access. UTTAM TELECOM gives a reliable service to its consumers that lets you make post paid bill payment online in few minutes. now forget to stand in the long queue to pay your post paid bills. it's easy and convenient option with UTTAM TELECOM, by paying post paid bills online through our website and get rid of standing in line. we offer you the easiest online bill payment service. it is a better option, No matter where you are, you can securely make post paid bills online payment without any problems in few easy clicks.
        
      </p>
    </div>
  </div>
  <div class="media" style="background-color:#D3D3D3;border-radius:5px;padding:4vh;">
    <div class="media-left">
      <img src="..\img\land.JPG" class="img-circle media-object" style="width:30vmin; height:30vmin;">
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="text-align:center;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;font-family: 'Times New Roman', Times, serif;
            font-size:4vh;">Land Line and Broadband Bill Payments</h4>
      <hr>
      <p>Nowadays, broadband internet service is the most useful form of Internet. A lot of people use their broadband for office and other tasks. With such an important technology in our life, it is important to pay broadband bill on time to enjoy its uninterrupted access. UTTAM TELECOM gives a reliable service to its consumers that lets you make broadband bill payment online in few minutes. now forget to stand in the long queue to pay your broadband bills. Landline bill payment is easy and convenient option with UTTAM TELECOM, by paying landline bills online through our website and get rid of standing in line. we offer you the easiest online bill payment service. it is a better option, No matter where you are, you can securely make landline bills online payment without any problems online in few easy clicks.
        
      </p>
    </div>
  </div>
  <div class="media" style="background-color:#D3D3D3;border-radius:5px;padding:4vh;">
    <div class="media-left">
      <img src="..\img\m3.JPG" class="img-circle media-object" style="width:30vmin; height:30vmin;">
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="text-align:center;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;font-family: 'Times New Roman', Times, serif;
            font-size:4vh;">DTH Recharge</h4>
      <hr>
      <p>There are a lot of DTH operators in India who provide Cable services to their customers. The most popular DTH service providers are Videocon D2H, Tata Sky, Airtel Digital TV, Sun Direct, Dish TV, Reliance BIG TV and we provide services of these companies. UTTAM TELECOM is simple and easy in DTH recharge services. Through UTTAM TELECOM you can recharge your set top boxes from anywhere and anytime in just a few seconds to enjoy a crystal clear image quality service to watch all your favourite shows, movies, music and sports.
        
      </p>
    </div>
  </div>
  <div class="media" style="background-color:#D3D3D3;border-radius:5px;padding:4vh;">
    <div class="media-left">
      <img src="..\img\api.JPG" class="img-circle media-object" style="width:30vmin; height:30vmin;">
    </div>
    <div class="media-body">
      <h4 class="media-heading" style="text-align:center;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;font-family: 'Times New Roman', Times, serif;
            font-size:4vh;">Mobile Recharge and DTH API Providing</h4>
      <hr>
      <p>Everybody do their business to evolve or to make profits, but it takes a special responsibility with a greater challenge to also evolve others business too, UTTAM TELECOM gives an oppourtunity to other companies, who are also providing multi recharge business or uitility services in the market by providing API services, We provide all API based services to our clients if they are facing problems in their regular business, with few simple and easy steps entered your website will be integrated with our portal and you can enjoy a fast and more simpler ways of doing your current business. Our API will give you the power of doing online services like Mobile or DTH recharges, Paying utility bills, Booking BUS or Flight Tickets or transferring Money through our portals.
        
      </p>
    </div>
  </div>
</body>