
<div class="well well-sm listHeader">Ledger Report</div>  
<div>
  <form>
 <div class="row">
         <div  class="col-xs-3">
       <div class="form-group">
      <label for="sel1" >From Date:</label><input type="date" name="bday"> 
      </div >
      </div>
       <div  class="col-xs-3">
  <div class="form-group">    
  <label for="sel1" >To Date:</label><input type="date" name="bday">
 </div >
 </div>
             
 <button type="button" class="btn btn-success" >Search</button>
 
</form>
</div>
<div>
<table class="table table-bordered">
    <thead class="tableList">
      <tr>
        <th>Payment Date</th>
        <th>Payment Id</th>
        <th>Payment Form</th>
        <th>Transaction type</th>
        <th>Description</th>
        <th>Before Balance</th>
        <th>Credit Amount</th>
        <th>Debit Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    
  </table>
</div>           
    