
body { padding-top:5px; }
.container {
    width:100%;
}

.loginDiv {
    width:80vmin;
    margin:13.4vh 0 13vh 6vh;
}

#headng{
text-align:center;
font-weight: bold;
font-size:4vh;margin-top:2vh;
}
#acc{
color:red;
}


.myTopNav {
  margin-bottom:15px;
  z-index: 9999;
  background-color:#DC143C;
  border: 0;
  font-size:1.1em !important;
  border-radius: 0;      
  font-family: 'Times New Roman', Times, serif;
 }

  .myTopNav-collapse {
    padding: 0px;
  }
    .myTopNav-nav li a:hover, .myTopNav-nav li.active a {
      color: black !important;
      background-color: #fff !important;
  }
  .myTopNav-nav li a, .myTopNav {
      color: white !important;
  }
  .myTopNav-header {
    width: auto;
    height:100%;
    margin: 0;
    padding: 0;
  }
  .navIcon{
            margin-right:0px;
  }
  

.myTopNav1 {
      margin-bottom:15px;
      z-index: 9999;
      background-color:#27AAE1;
      border: 0;
      font-size:1.1em !important;
      border-radius: 0;      
      font-family: 'Times New Roman', Times, serif;
      height:auto;
  }
  .myNavbar1-collapse1 {
    padding: 0px;
  }
  .nav-btn {
  position: absolute;
  height: 20px;
  top: calc(50% - 10px);
}
    .myTopNav1-nav1 li a:hover{
      color: black !important;
      background-color:blanchedalmond;
  }
  .myTopNav1-nav1 li a, .myTopNav1 {
      color: black !important;
  }
  .myTopNav1-header1 {
    width: auto;
    height:100%;
    margin: 0;
    padding: 0;
  }
  .myTopNav1-dropdown-menu1{
   background-color:#27AAE1;
  }

  
  hr{
    color:#f00;background-color:orange;height: 0.4vh;
  }
  sup{
    color:red;
  }
  .tableList{
    background-color:blanchedalmond;
  }
  span.star {
    font-size:15px;
    color:red
 }
 .listHeader{
   font-style:bold;
   font-size:3vh; 
   font-family:'Times New Roman', Times, serif;
 }
 .listHeadermoney{
   font-style:bold;
   font-size:3vh; 
   font-family:'Times New Roman', Times, serif;
   background-image: url('../img/bank.JPG'); 
   background-size:cover;
   background-repeat:no-repeat;
   height:550px;
   width:800px;
   margin:auto;
 }
 .listHeaderback{
   opacity:1;
   background-color:transparent;
  filter: alpha(opacity=60);
  margin-bottom: 1vh; 
  width:60vmin;
  color:black; 
  margin: auto;
 }
 .footerbar{
   font-size:2vh; 
   padding:2vh;
   margin-top:3vh;
   margin-bottom:0px;
   font-family:'Times New Roman', Times, serif;
   background-color:#DC143C;
   border:1px solid #DC143C;
   color:white;
 }
  h2{
            text-align:center;
            text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
            font-family: 'Times New Roman', Times, serif;
            font-size:4vh;
 }
 p{
            line-height: 1.8;
            font-family: 'Times New Roman', Times, serif;
            font-size:2.5vh;
            padding:1vh;
            text-align: justify; 
  }

 #first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: black;
    font-size: 4vh;
      text-transform: uppercase;
      font-weight:700;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color:black;
    font-size: 4vh;
      text-transform: uppercase;
      font-weight:700;
}
#first-slider .slide1 .text-left ,#first-slider .slide2 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 10vh;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  height: 58vmin;
  width:100%;
}

.carousel-inner .item .container {
    display: flex;
    
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}
#first-slider .carousel-indicators li {
    width: 2vh;
    height: 2vh;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 3vh;
    height: 3vh;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.curUserDetails {
  font-size:2.5vmin;
  float:right;
  width:35vmin;
  height:18vmin;
  margin-top:3vmin;
  font-family:'Times New Roman', Times, serif;
}